# general BS
*.DS_Store
*.Rapp.history

# got lost in a git shuffle =[
forum/
ignored

# code
code/*/*.tex

# presentation output and overhead
slides/*/*.html
slides/*/*.css
slides/*/*cache/
slides/*/*files/
# slides/*/data/
# slides/*/imgs/

# contains news-clippings
lit

# --- tex things --- 
# hide tex as a rule, keep tex, pdf, bib, diagrams
# hide outputs (graphics, tables, refs)
tex/*
!tex/*.tex
!tex/*.pdf
!tex/diagrams
!tex/bib


data/posts/
ggmcmc-output.pdf

.Rproj.user

data/r-dump/

paper/test-r-markdown\.pdf
paper/test-r-markdown\.Rmd
paper/test-r-markdown\.tex
paper/figs/

code/rmd-race/explore-race-gap_cache/
code/rmd-race/figs/
code/rmd-race/race-out/

paper/*cache/
paper/*files/
paper/assets/img/
paper/gender-gap-new\.aux
paper/gender-gap-new\.bbl
paper/gender-gap-new\.blg
paper/gender-gap-new\.out
paper/gender-gap-new.tex
paper/assets/r-dump/03-descriptives.Rdata
paper/assets/r-dump/05-viz.Rdata


rmd-practice
rmd-practice/test-r-markdown_files/

data/cleaned-anes-cdf.dta
data/cleaned-anes-cdf.RDS

data/clean
data/rmd-rdata
data/ANES-2016/docs/anes_timeseries_cdf_codebook_pdf
anes_timeseries_cdf.dta
data/mcmc
data/mcmc-params
paper/assets/dot-img
paper/paper-cache
paper/paper-figs
paper/gender-gap-new.log

writing-rmd/paper-cache
paper/gaps.tex
paper/chunk-figs
paper/_freeze/gaps
